function tocaSom (id ElementoAudio) {
    document.querySelector(id Elemento Audio).play();
}

const lista DeTeclas = document.querySelectorAll('.tecla');

//para
for (let contador = 0; contador <lista De Teclas.length;contador++) { 
    
    const tecla lista DeTeclas[contador];
    const instrumento tecla.classlist[1];
    const idAudio = '#som_S(instrumento); //template string}



    tecla.onclick = function () {
        tocaSom(idAudio);
    }

    :root {
        --cinza: #aaa;
        --vermelha: #e93d50;
        --vermelha-escura: #af303f;
        --branca: #fff;
        --luz: rgb(229, 255, 0);
    }

    body {
align-items: center;
background: linear gradient(45deg, #a7cfdf 0%, #23538a 100%);
display: flex;
justify-content: center;
flex-direction: column;
font-family: 'Montserrat', sans-serif;
min-height: 100vh;
    }

    h1 {
        color: var(--branca);
        margin-bottom: 20px;
        font-size: 2rem;
    }

    .teclado {
        background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
        box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000; border-radius: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); padding: 10px;
        gap: 10px;
    }

    .tecla {
        background-color: var(-branca);
        border-radius: 30px;
        box-shadow: 3px 3px 0 var(-cinza);